@charset "UTF-8";

/*Configurações Gerais*/
:root {
    --cor-header: #73022C;
    --cor-fundo: #F2F2F2;
    --cor-links: #F294C0;
    --cor-links-visitados: #A62655;

}

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}

/*Cabeçalho*/
header {
    display: grid;
    grid-template-columns: 250px 1fr;
}

header,
footer {
    background-color: var(--cor-fundo);
}

#logo {
    width: 10vw;
    border-radius: 24vh;
    display: block;
    margin: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
    padding: 60px;
    margin: auto;
}